{% extends 'planner/base.html' %}

{% load static %}

{% block title %}Daily Planners{% endblock %}

{% block content %}
    <div class="planners-grid container">
        <div>
            <div class="side-bar flex-block">
                <h1 class="center-text">List</h1>
                <a href="#sleep" class="border-line">Sleeping Time</a>
                <a href="#reminder" class="border-line">Reminder</a>
                <a href="#priorities" class="border-line">Priorities</a>
                <a href="#todo" class="border-line">To-do's</a>
                <a href="#meal" class="border-line">Meal Tracker</a>
                <a href="#water" class="border-line">Water Intake</a>
                <a href="#exercise" class="border-line">Exercise</a>
                <a href="#money" class="border-line">Money Tracker</a>
                <a href="#grateful" class="border-line">5 Things I'm grateful for</a>
                <a href="#tomorrow" class="border-line">Tomorrow's to-do's</a>
                <a href="#journal" class="border-line">Journal</a>
            </div>
        </div>

        <div>
            <div class="center-text">
                <h1>Daily Planner</h1>
                <h2>Today's Quote: {{ dailyplan.quote }}</h2>
                <h2>Today's Affirmation: {{ dailyplan.affirmation }}</h2>
                <h3>{{ dailyplan.date_created }}</h3>
            </div>

            <section class="sleep-section" id="sleep">
                <div class="border-container">
                    <h1>HOURS OF SLEEP</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="flex">
                            <label for="">Time Slept: </label><br>
                            {{ form.sleeping_time }}
                        </div>
                        <div class="flex">
                            <label for="">Waking up:</label>
                            {{ form.wake_up}}
                        </div><br>

                        <div class="flex">
                            <label for="">Hours Slept: </label>
                            {{ form.hours_slept }}
                        </div>
                        
                    </form>
                </div>
            </section>
        
            <section class="top-activities-section">
                <div class="two-grid">
                    <div class="border-container" id="reminder">
                        <h1>REMINDER TO:</h1>
                        <form action="{% url 'dailyplanner' dailyplan.id %}" method="POST">
                            {% csrf_token %}
                            {{ reminderform.reminder }}
                            <button type="submit" class="btn">Add</button>
                        </form>

                        <ul>
                            {% for reminder in reminders %}
                                <li>{{ reminder }}</li>
                            {% empty %}
                                <li>No reminders posted yet</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="border-container" id="priorities">
                        <h1>3 TODAY'S PRIORITIES</h1>
                        {% if priorities.count < 3 %}
                            <form action="{% url 'dailyplanner' dailyplan.id %}" method="POST">
                                {% csrf_token %}
                                {{ priorityform.priority }}
                                <button type="submit" class="btn">Add</button>
                            </form>
                        {% else %} 
                            <p>You can only add up to three priority items</p>
                        {% endif %}

                        <ul>
                            {% for priority in priorities %}
                                <li>{{ priority }}</li>
                            {% empty %}
                                <li>No priorities posted yet</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        
            <section class="todo-section" id="todo">
                <div class="border-container">
                    <h1>TODAY'S TO-DO LIST</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ todoform.todo }}
                        <button class="btn">ADD</button>
                    </form>
                    <div class="three-grid">
                    <div class="center-text todo-container">
                        <p>Total</p>
                        <h3>{{ total_todos }}</h1>
                    </div>
                    <div class="center-text todo-container">
                        <p>Completed</p>
                        <h3>{{ completed_todos }}</h3>
                    </div>
                    <div class="center-text todo-container">
                        <p>Uncompleted</p>
                        <h3>{{ uncompleted_todos }}</h3>
                    </div>
                    </div>
                    
                    <div class="flex">
                        {% for todo in todos %}
                        <ul>
                            <li>
                                <p>{{ todo }}</p>
                                <a href="" class="margin-left"><button class="btn">Description</button></a>
                                <a href="" class="margin-left"><button class="btn">Delete</button></a>
                            </li>
                            
                        </ul>
                       
                        {% endfor %}
                        
                    </div>
                    
                    
                </div>
            </section>
        
            <section class="health-section">
                <div class="two-grid">
                    <div class="border-container" id="meal">
                        <h1>MEAL TRACKER</h1>
                        <form action="">
                            <div class="flex">
                                <label for="">BreakFast: </label><br>
                                <textarea name="" id="" rows="1" cols="30"></textarea><br>
                            </div><br>
                            
                            <div class="flex">
                                <label for="">Lunch:</label>
                                <textarea name="" id="" rows="1" cols="30"></textarea>
                            </div><br>

                            <div class="flex">
                                <label for="">Dinner:</label>
                                <textarea name="" id="" rows="1" cols="30"></textarea>
                            </div><br>

                            <div class="flex">
                                <label for="">Snacks:</label>
                                <textarea name="" id="" rows="1" cols="30"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="border-container" id="water">
                        <h1>WATER INTAKE</h1>
                        <p>Glass 1</p>
                        <p>Glass 2</p>
                        <p>Glass 3</p>
                        <p>Glass 4</p>
                        <p>Glass 5</p>
                    </div>
                </div>
            </section>
        
            <section class="habit-section">
                <div class="two-grid">
                    <div class="border-container" id="exercise">
                        <h1>EXERCISE</h1>
                        <div class="flex">
                            {% for exercisetype in exercisetypes %}
                                <label for="">Type of Exercise: </label>
                                <p>{{ exercisetype }}</p>
                            {% empty %}
                                <form action="{% url 'dailyplanner' dailyplan.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ exercise_type_form.exercise_type }}
                                    <button type="submit" class="btn">Save</button>
                                </form>
                            {% endfor %}
                        </div><br>
                        <div class="flex">
                            {% for exercise_total_minute in exercise_total_minutes %}
                                <label for="">Total Minutes: </label>
                                <p>{{ exercise_total_minute }}</p>
                            {% empty %}
                                <form action="{% url 'dailyplanner' dailyplan.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ exercise_total_minutes_form.exercise_total_minutes }}
                                    <button type="submit" class="btn">Save</button>
                                </form>
                            {% endfor %}
                        </div><br>

                        <div class="flex">
                            {% for exercise_total_step in exercise_total_steps %}
                                <label for="">Total Steps: </label>
                                <p>{{ exercise_total_step }}</p>
                            {% empty %}
                                <form action="{% url 'dailyplanner' dailyplan.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ exercise_total_steps_form.exercise_total_steps }}
                                    <button type="submit" class="btn">Save</button>
                                </form>
                            {% endfor %}
                        </div><br>

                        <div class="flex">
                            {% for exercise_other_info in exercise_other_infos %}
                                <label for="">Note to self on Exercise: </label>
                                <p>{{ exercise_other_info }}</p>
                            {% empty %}
                                <form action="{% url 'dailyplanner' dailyplan.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ exercise_other_info_form.exercise_other_info }}
                                    <button type="submit" class="btn">Save</button>
                                </form>
                            {% endfor %}
                        </div><br>
                    </div>

                    <div class="border-container" id="money">
                    <h1>MONEY TRACKER</h1>
                    <form action="">
                        <div class="flex">
                            <label for="">Money In: </label><br>
                            <textarea name="" id="" rows="1" cols="30"></textarea><br>
                        </div><br>
                        
                        <div class="flex">
                            <label for="">From:</label>
                            <textarea name="" id="" rows="1" cols="30"></textarea>
                        </div><br>

                        <div class="flex">
                            <label for="">Money Out:</label>
                            <textarea name="" id="" rows="1" cols="30"></textarea>
                        </div><br>

                        <div class="flex">
                            <label for="">For:</label>
                            <textarea name="" id="" rows="1" cols="30"></textarea>
                        </div>
                    </form>
                </div>
                </div>

            </section>
        
            
            <section class="analysis-section">
                <div class="two-grid">
                    <div class="border-container" id="grateful">
                        <h1>5 THINGS I'M GRATEFUL FOR:</h1>
                        <input class="planner-input" type="text" placeholder="I'm grateful for...">
                        <button class="btn">Add</button>
                    </div>
                    <div class="border-container" id="tomorrow">
                        <h1>TOMORROW'S ACTIVITIES</h1>
                        <input class="planner-input" type="text" placeholder="I plan on...">
                        <button class="btn">Add</button>
                    </div>
                </div>
            </section>
        
            <section class="journal-section">
                <div class="border-container" id="journal">
                    <h1>JOURNAL YOUR DAY</h1>
                    <textarea name="" id="" rows="10" cols="100" placeholder="How was your day?"></textarea>
                </div>
            </section>
            
        </div>

    </div>
{% endblock content %}
