{% extends 'planner/base.html' %}

{% load static %}

{% block title %}Positivities{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="center-text">Morning Positivity</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="border-container">
                <div class="two-grid">
                    <div>
                        <h1>INSPIRE YOUR MORNING</h1>
                        {{ form.quote }}                
                    </div>
                    <div>
                        <h1>SHOW LOVE TO YOURSELF</h1>
                        {{ form.affirmation }}
                    </div>
                </div>
                <div class="center-text">
                    <a href="planner/planners/dailyplanner.html"><button class="btn">Save</button></a>
                </div>
            </div>

        </form>
    </div>
    
    
{% endblock content %}