

:root{
    --primary-color: rgb(0, 191, 255);
    --primary-text-color: black;
    --box-shadow: 1px 2px 5px 2px rgba(0, 191, 255, 0.2);
    --secondary-text-color: white;
    --border-color: rgb(202, 242, 255);
}

a{
    text-decoration: none;
    color: var(--primary-text-color);
}

h1, h2{
    color: var(--primary-color)
}

.flex{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.flex-block{
    display: flex;
    flex-direction: column;
}
.planners-grid{
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 30px;
}
.two-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.three-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.center-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*----------Marginal styles--------*/
.margin-left{
    margin-left: 20px;
}
.container{
    margin-left: 50px;
    margin-right: 20px;
}
.center-text{
    text-align: center;
}

/*-----Containers-------*/
.shapped-container{
    box-shadow: var(--box-shadow);
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.border-container{
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}
.side-bar{
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: fixed;
    width: 250px;
}
.side-bar a:hover{
    opacity: 0.5;
}
.border-line{
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}

/*-----------Planners Input----------*/


textarea{
    padding: 10px;
    outline: none;
    resize: none;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    margin-left: 5px;
}

.planners-input{
    width: 450px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid var(--primary-color)

}
.planner-input{
    width: 230px;
    padding: 10px;
    border-radius:5px;
    border: 2px solid var(--primary-color)
}


/*-----Planners btn-----*/

.home-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: none;
    position: fixed;
    right: 300px;
    bottom: 20px;
    box-shadow: var(--box-shadow);
    font-weight: 900;
    font-size: 20px;
}

.btn{
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    color: var(--secondary-text-color)
}


/*-------Daily Planner----------*/

.todo-container{
    border-radius: 10px;
    margin: 10px;
    border: 1px solid var(--primary-color);
}
.todo-input{
    width: 400px;
    padding: 10px;
    border-radius:5px;
    border: 2px solid var(--primary-color);
}